<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dell.baseproject">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- dialog权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value=""/>

        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".activity.PopupWindowActivity"
            android:label="@string/title_activity_popup_window"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.ElseActivity">
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity android:name=".activity.TimeActivity">
        </activity>
        <activity android:name=".activity.ScrollActivity">
        </activity>
        <activity android:name=".activity.SearchViewActivity">
        </activity>
        <activity android:name=".activity.DialogActivity">
        </activity>
        <activity android:name=".activity.SlideMenuActivity">
        </activity>
        <activity android:name=".activity.ViewGroupActivity">
        </activity>
        <activity android:name=".activity.PopupWIndowTwoActivity">
        </activity>
        <activity android:name=".activity.PanelActivity"/>
        <activity
            android:name=".alipay.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".alipay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".activity.RecyclerListViewActivity">
        </activity>
        <activity android:name=".activity.BUtterknifeActivity">
        </activity>
        <activity android:name=".activity.ShraedActivity">
        </activity>
        <activity android:name=".activity.BaiDuMapActivity">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".mvp.biz.mvc.MvcActivity">
        </activity>
        <activity android:name=".mvp.biz.mmmvp.MvpActivity">
        </activity>
        <activity android:name=".activity.LogUtilsActivity">
        </activity>
        <activity android:name=".activity.GridViewActivity">
        </activity>
        <activity android:name=".activity.ListViewActivity">
        </activity>
        <activity android:name=".https.HttpsActivity">
        </activity>
        <activity android:name=".activity.Main2Activity">
        </activity>
        <activity android:name=".activity.Main3Activity">
        </activity>
        <activity android:name=".mvp.biz.mmmmvp.v.LoginActivity">
        </activity>
        <activity android:name=".mvp.biz.generic.TestActivity">
        </activity>
        <activity android:name=".rxjava.RxjavaActivity">
        </activity>
        <activity android:name=".activity.RetrofitMApDotActivity">
        </activity>
        <activity android:name=".activity.DownloadActivity">
        </activity>
        <activity android:name=".activity.DownloadByOkhttpActivity">
        </activity>
        <activity android:name=".activity.RetrofitLoginActivity">
        </activity>
        <activity android:name=".ui.nestedscroll.NestedScrollOneActivity">
        </activity>
        <activity android:name=".ui.nestedscroll.NestedScrollTwoActivity">
        </activity>
        <activity android:name=".recyclerview.RecyclerListviewActivity">
        </activity>
        <activity android:name=".recyclerview.QiuBaiJsoupActivity">
        </activity>
        <activity android:name=".activity.ConstraintLayoutActivity">
        </activity>
        <activity
            android:name=".coordnitor.CoordinatorLayoutActivity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".coordnitor.CoordinatorTwoActivity">
        </activity>
        <activity android:name=".activity.BannerActivity">
        </activity>
        <activity android:name=".recyclerview.RecyclerViewTwoActivity">
        </activity>
        <activity android:name=".activity.ViewpagerCoolActivity">
        </activity>
        <activity android:name=".activity.ViewpagerTwoActivity">
        </activity>
        <activity android:name=".activity.ScrollViewActivity">
        </activity>
        <activity android:name=".activity.ActivityContentActivity">
        </activity>
        <activity android:name=".activity.ThreadPoolExecutorActivity">
        </activity>
    </application>

</manifest>